@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}

.nav-text a{
    font-family: 'Montserrat';
    font-weight: bold;
    margin-left: -2px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border: white solid 2px;
    border-radius: 15px;
    background-color: #EE7200;
    box-shadow: 3px 3px black;
}

.nav-text a:hover{
    background: #1a83ff;

}

.navMenu{
    background-color: #160E3D;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    border: white 1px solid;
    z-index: 99;
}

.navMenu.active{
    left: 0;
    transition: 350ms;
}

.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;;
}

.nav-text a:hover{
    background: #1a83ff;

}

.navMenu{
    background-color: #160E3D;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.navMenu.active{
    left: 0;
    transition: 350ms;
}

@media (min-width: 400px){
    * {
        grid-column: auto / span 2;

    }
}
.landmark-size-image{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.leaflet-popup-content-wrapper{
    background-color: #EE7200 !important;
    border-radius: 5px !important;
}

.leaflet-popup-content{
    margin: 0px !important;
    padding: 10px !important;
}

.leaflet-popup-close-button {
    background-color: red !important;
    color: white !important;
    font-size: 20px !important;
    border-top-right-radius: 5px;
  }

.leaflet-popup-close-button:hover{
    background-color: white !important;
    color: gray!important;
}
  
/* .popup-image{
    width: 100px !important;
    height: 100px !important;
    object-fit: cover !important;
} */

.leaflet-popup-content{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.leaflet-popup-content h3{
    padding-top: 10%;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.leaflet-popup-content p{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.popup-image-container {
    max-width: 200px; 
    max-height: 150px; 
    overflow: hidden;
  }
  
  .popup-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
   
  }
  
  @media (max-width: 640px){
    .review-star-icon{
        font-size: 18px;
    }
  }
