@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }
  
  .glow:hover {
    animation: glow 2s infinite;
  }
  

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    height: 60px;
}

.nav-text a{
    font-family: 'Montserrat';
    font-weight: bold;
    margin-left: -2px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border: white solid 2px;
    border-radius: 15px;
    background-color: #EE7200;
    box-shadow: 3px 3px black;
}

.nav-text a:hover{
    background: #1a83ff;

}

.navMenu{
    background-color: #160E3D;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    border: white 2px solid;
    z-index: 99999;
}

.navMenu.active{
    left: 0;
    transition: 350ms;
}

.nav-text a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    border-radius: 4px;
}

.nav-text a:hover{
    background: #1a83ff;

}

.navMenu{
    background-color: #160E3D;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.navMenu.active{
    left: 0;
    transition: 350ms;
}
